span[class*="logo"] {
  font-family: "Raleway", sans-serif; 
  font-weight: 700; 
  font-size: 18px; 
  line-height: 1.17; 
  letter-spacing: 0.03em; 
  text-transform: uppercase; 
  color: #4d5ae5;

body{
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #ffff;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-sit{
  font-weight: Bold;
Size: 56px
Letter Spacing: 2%
line-height: 60
}

.btn{
  color: #FFFFFF;
  background-color: #4D5AE5;
}
.btn:hover{
  color: #FFFFFF;
  background-color: #404BBF; 
}

.btn:active{
  color: #FFFFFF;
  background-color: #404BBF;
}

.link .act{
  color: #2E2F42;
}

.link .act:hover{
  color: #4D5AE5;
}

.link .act:focus{
  color: #404BBF;
}
.text{
  color: #2E2F42;
}
